
<form method="POST" action="/auth/signup" class="signup-in">
    
    <div class="form-floating mb-3" id="box-line">
        <input type="text" name="firstName" class="form-control" id="floatingInput" placeholder="First Name"/>
        <label for="floatingInput">First Name</label>
    </div>
    
    <div class="form-floating mb-3" id="box-line">
        <input type="text" name="lastName" class="form-control" id="floatingInput" placeholder="Last Name"/>
        <label for="floatingInput">Last Name</label>
    </div>
    
    <div class="form-floating mb-3" id="box-line">
        <input type="email" name="emailAddress" class="form-control" id="floatingInput" placeholder="name@example.com" />
        <label for="floatingInput">Email Address</label>
    </div>
    
    <div class="form-floating mb-3" id="box-line">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"/>
        <label for="floatingPassword">Password</label>
    </div>
    
    <br>
    
    <div>
        <button class="btn btn-primary" type="submit" id="button-signup-in" >SIGN UP</button>
    </div>
    
</form>
<h1 class="title-signup-in"> SIGN UP </h1>