<div class="block-profile">
    <p class="profile-fln"><%= currentUser.firstName %></p>
    <p class="profile-fln"><%= currentUser.lastName %></p>
    <p class="profile-epd"><%= currentUser.emailAddress %></p>
    <div class="hor-line"></div>
    <a href="/profile/edit" class="profile-epd" id="link-pwd2" ><img src="../images/edit.png" class="icon-mydreams" /> Edit my profile</a>
    <a href="/profile/pwd" class="profile-epd" id="link-pwd">Change password</a>
</div>