<h1 class="title-mydreams">Change my password</h1>

<form method="POST" action="/profile/pwd/update?_method=PUT">

    <div>
        <label>New password</label>
        <input name="pwd1" type="password" value="" class="comment-textarea" id="edit-title"/>
    </div>

    <div>
        <label>Confirm password</label>
        <input name="pwd2" type="password" value="" class="comment-textarea" id="edit-title"/>
    </div>

    <div class="submit-comment">
        <button type="submit" class="submit-btn" > Change my password </button>
    </div>


</form>